---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include header.html %}

<body data-theme="{{ site.mode }}" class="notransition">

  <script>
    const body = document.body;
    const data = body.getAttribute("data-theme");

    const initTheme = (state) => {
      if (state === "dark") {
        body.setAttribute("data-theme", "dark");
      } else if (state === "light") {
        body.removeAttribute("data-theme");
      } else {
        localStorage.setItem("theme", data);
      }
    };
 
    initTheme(localStorage.getItem("theme"));
    
    setTimeout(() => body.classList.remove("notransition"), 75);
  </script>

  {% include navbar.html %}
  <div class="wrapper">
    <main class="page-content" aria-label="Content">
      <div class="post">
        {% if site.blog_name or site.blog_description %}
        <div class="header-bar">
          <h1>{{ site.blog_name }}</h1>
          <h2>{{ site.blog_description }}</h2>
        </div>
        {% endif %}

        {% if site.display_tags.size > 0 or site.display_categories.size > 0 %}
        <div class="tag-category-list">
          <ul class="p-0 m-0">
            {% for tag in site.display_tags %}
            <li>
              <i class="fa-solid fa-hashtag fa-sm"></i> <a href="{{ tag | slugify | prepend: '/blog/tag/' | relative_url }}">{{ tag }}</a>
            </li>
            {% unless forloop.last %}
            <p>&bull;</p>
            {% endunless %}
            {% endfor %}
            {% if site.display_categories.size > 0 and site.display_tags.size > 0 %}
            <p>&bull;</p>
            {% endif %}
            {% for category in site.display_categories %}
            <li>
              <i class="fa-solid fa-tag fa-sm"></i> <a href="{{ category | slugify | prepend: '/blog/category/' | relative_url }}">{{ category }}</a>
            </li>
            {% unless forloop.last %}
            <p>&bull;</p>
            {% endunless %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <ul class="post-list">
          {% for post in site.posts %}
          <li>
            <h3>
              <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <p>{{ post.description }}</p>
            <p class="post-meta">
              {% assign read_time = post.content | number_of_words | divided_by: 180 | plus: 1 %}
              {{ read_time }} min read &nbsp; &middot; &nbsp;
              {{ post.date | date: '%B %d, %Y' }}
            </p>
            <p class="post-tags">
              <a href="{{ post.date | date: '%Y' | prepend: '/blog/' | prepend: site.baseurl}}">
                <i class="fa-solid fa-calendar fa-sm"></i> {{ post.date | date: '%Y' }}
              </a>
              {% if post.tags.size > 0 %}
              &nbsp; &middot; &nbsp;
              {% for tag in post.tags %}
              <a href="{{ tag | slugify | prepend: '/blog/tag/' | prepend: site.baseurl}}">
                <i class="fa-solid fa-hashtag fa-sm"></i> {{ tag }}
              </a>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
              {% endif %}
              {% if post.categories.size > 0 %}
              &nbsp; &middot; &nbsp;
              {% for category in post.categories %}
              <a href="{{ category | slugify | prepend: '/blog/category/' | prepend: site.baseurl}}">
                <i class="fa-solid fa-tag fa-sm"></i> {{ category }}
              </a>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
              {% endif %}
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
    {% include footer.html %}
  </div>
</body>

</html>
